<h1>Create Programming Language</h1>
<%= form_tag programming_languages_path do %>
  <%= label_tag :name, "Name:" %>
  <%= text_field_tag :name %> </br>
  <%= submit_tag "Create Programming Language" %>
<% end %>
